@font-face {
    font-family: TitleFont;
    src: url(SpecialElite-Regular.ttf);
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #B4C1BE;
    color: white;
    font-size: 22px;
    font-family: titleFont;

}

li, a, button {
    font-family: TitleFont;
    font-weight: bolder;
    color: rgb(2, 8, 20);
    text-decoration: none;
    font-size: 30px;
}

header {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-color:#4E4B4F;
}

.nav_links {
    list-style: none;
    font-size: 20px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 150px;
    width: fit-content;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#0e76d8;
}

button {
    padding: 9px 25px;
    background-color: #B4C1BE;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
}

button:hover {
    background-color:  #0e76d8;
}


.titleBox {
    background-image: url("images/Backdrop.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:#647679;
    border-style: outset;
    border-radius: 5px;
}


h1 {
    font-family: titleFont;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


h2 {
    font-family: titleFont;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}

h3 {
    font-family: TitleFont;
    text-align: center;
    font-size: 25px;
}

.mainBox {
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
    justify-content: center;
    background-color:#3D4550;
    margin: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border: #647679;
    border-style: solid;
    border-radius: 10px;
}

.indent {
    text-indent: 50px;
}

.first-letter {
    initial-letter: 50;
    font-size: 70px;
    color: black;
    font-family: TitleFont;
    font-weight: bolder;
    font-feature-settings: "vjmo";
}

#quote {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    }

/* #personName {
    color: black;
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
}       */

.galleryBox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: left;
    background-color:#3D4550;
    margin: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:#647679;
    border-style: solid;
    border-radius: 10px;
    line-height: 30px;
}
.title {
    text-align: center;
    font-size: 35px;
    color: white;
    flex: 100%;
}

.description {
    position: relative;
    height: 200px;
    width: 400px;
    float: left;
    flex-wrap: wrap;
    margin: 4px;
    background-size: 100%;
    background-position: center;
    transition: .5s;
    border-radius: 10px;
    font-family: TitleFont;
    font-size: 20px;
}

.description:hover {
    background-size: 110%;
    border-radius: 10px;
}

.description:after {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: white;
    opacity: .8;
    color:black;
    font-weight: bolder;
    padding: 0 8px;
    content: attr(data-text);
    transition: .5s;
    border-radius: 10px;
}

.description:hover::after {
    top: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0,6);
    border-radius: 10px;
}

.description::first-line {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.contactInfo {
    margin: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    border: #647679;
    border-style: solid;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    color: white;
}

footer {
    margin: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    border: #647679;
    border-style: solid;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 10px;
}

#copyright {
    background-color:#3D4550;
    font-size: 25px;
}

#references {
    color: white;
    font-size: 13px;
    margin-left: 10px;
}

.photoDescription {
    position: relative;
    justify-content: space-evenly;
    height: 300px;
    width: 400px;
    float: right;
    background-size: 100%;
    background-position: center;
    transition: .5s;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin: 3px;
}


.photoDescription:hover {
    background-size: 110%;
    border-radius: 10px;
}

.photoDescription:after {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    color: black;
    background-color: white;
    opacity: .7;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    padding: 0 8px;
    content: attr(data-text);
    transition: .5s;
    border-radius: 10px;
}

.photoDescription:hover::after {
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0,6);
    border-radius: 10px;
}
