@font-face {
    font-family: TitleFont;
    src: url(SpecialElite-Regular.ttf);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: orangered;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main{
    transition: margin-left .5s;
    padding: 16px;
    position: fixed;
    background-color: black;
  }

  #main:hover {
      color: orangered;
  }
  

body, html {
    transition: .5s;
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: titleFont;

}

li, a {
    font-family: TitleFont;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
}


.titleBox {
    background-image: url("images/logo17b.jpg");
    height: 800px;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    border:#647679;
    border-radius: 5px;
    background-color: black;
    border-color: black
}


h2 {
    font-family: titleFont;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: TitleFont;
    text-align: center;
    font-size: 25px;
}

.mainBox {
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
    justify-content: center;
    background-color:#3D4550;
    margin: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border: rgb(255, 200, 49);
    border-style: solid;
    border-radius: 10px;
}

.indent {
    text-indent: 50px;
}

.first-letter {
    initial-letter: 50;
    font-size: 70px;
    color: black;
    font-family: TitleFont;
    font-weight: bolder;
    font-feature-settings: "vjmo";
}

#quote {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    }


#personName {
        color: rgb(255, 200, 49);
        font-size: 20px;
        font-weight: bolder;
        text-align: right;
}     

.galleryBox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: center;
    background-color:#3D4550;
    margin: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:rgb(255, 200, 49);
    border-style: solid;
    border-radius: 10px;
    line-height: 30px;
}
.title {
    text-align: center;
    font-size: 35px;
    color: orangered;
    flex: 100%;
}

.description {
    position: relative;
    height: 200px;
    width: 400px;
    float: left;
    flex-wrap: wrap;
    margin: 4px;
    background-size: 100%;
    background-position: center;
    transition: .5s;
    border-radius: 10px;
    font-family: TitleFont;
    font-size: 20px;
}

.description:hover {
    background-size: 110%;
    border-radius: 10px;
}

.description:after {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: white;
    opacity: .8;
    color:black;
    font-weight: bolder;
    padding: 0 8px;
    content: attr(data-text);
    transition: .5s;
    border-radius: 10px;
}

.description:hover::after {
    top: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0,6);
    border-radius: 10px;
}

.description::first-line {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}


.tooltip {
    position: relative;
    background-image: url("images/emaillogo.jpg");
    background-size: 82px 86px;
    background-repeat: no-repeat;
    font-weight: lighter;
    color: transparent;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


footer {
    margin: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    border: rgb(255, 200, 49);
    border-style: solid;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 10px;
}

#copyright {
    background-color:#3D4550;
    font-size: 25px;
}

#references {
    color: white;
    font-size: 13px;
    margin-left: 10px;
}

.photoDescription {
    position: relative;
    justify-content: space-evenly;
    height: 600px;
    width: 400px;
    float: right;
    background-size: 100%;
    background-position: center;
    transition: .5s;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin: 3px;
}


.photoDescription:hover {
    background-size: 110%;
    border-radius: 10px;
}

.photoDescription:after {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    color: black;
    background-color: rgb(233, 134, 54);
    opacity: .7;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    padding: 0 8px;
    content: attr(data-text);   
    transition: .5s;
    border-radius: 10px;
}

.photoDescription:hover::after {
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0,6);
    border-radius: 10px;
}
